/* .navbar-nav .nav-link.h4 {
    font-family: 'Junigarden Serif PERSONAL USE';
} */

@font-face {
    font-family: 'Junigarden Serif PEROSNAL USE';
    src: url('../fonts/JuningardenSerifPERSONALUSE.ttf') format('truetype');
}

.be-vietnam-pro-regular {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .be-vietnam-pro-medium {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .be-vietnam-pro-semibold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .be-vietnam-pro-bold {
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  

.font-vietnam {
    font-family: 'Be Vietnam Pro', sans-serif;
}

.font-Junigarden {
    font-family: 'Junigarden Serif PERSONAL USE', serif;
}


.text-main-green {
    color: #336566;
}

.btn-primary {
    background-color: #336566;
    border-color:  #336566;
     /* Space to the right of Sign up button */
}
.btn-primary:hover {
    background-color: #336566;
    border-color:  #336566;
    color: #DDF75B;
}
.navbar-brand {
    padding-left: 20px; 
    
}

.bg-main-green {
    background-color: #336566;
    color: white; /* Optional: Set text color for contrast */
}
