// Variables
$main-green: #336566
$hover-text-color: #DDF75B


// Navbar styles
.navbar-nav
  .nav-link
    &.h4
      font-family: 'Junigarden Serif PERSONAL USE'
      color: $main-green

@font-face
  font-family: 'Junigarden Serif PERSONAL USE'
  src: url('../fonts/JuningardenSerifPERSONALUSE.ttf') format('truetype')

// Be Vietnam Pro font styles
$be-vietnam-pro: "Be Vietnam Pro", sans-serif

.be-vietnam-pro-regular
  font-family: $be-vietnam-pro
  font-weight: 400
  font-style: normal

.be-vietnam-pro-medium
  font-family: $be-vietnam-pro
  font-weight: 500
  font-style: normal

.be-vietnam-pro-semibold
  font-family: $be-vietnam-pro
  font-weight: 600
  font-style: normal

.be-vietnam-pro-bold
  font-family: $be-vietnam-pro
  font-weight: 700
  font-style: normal

// Font utilities
.font-vietnam
  font-family: $be-vietnam-pro

.font-Junigarden
  font-family: 'Junigarden Serif PERSONAL USE', serif

// Text colors
.text-main-green
  color: $main-green

// Button styles
.btn.btn-primary 
  background-color: $main-green
  border-color: $main-green

  &:hover
    background-color: $main-green
    border-color: $main-green
    color: $hover-text-color

// Navbar brand padding
.navbar-brand
  padding-left: 20px

// Banner Styles
.banner
  font-size: 4rem
  max-width: 700px
  text-align: center 
  font-family: 'Junigarden Serif PERSONAL USE' // Ensure the font is correctly imported
  color: $main-green // Define $main-green in your variables

.highlight
  font-style: italic

// Background styles
.bg-main-green
  background-color: $main-green
  color: white // Optional: Set text color for contrast

$background-color: #fdf4e7
$text-color: #2d4c43
$card-shadow: rgba(0, 0, 0, 0.1)


body 
  font-family: "Be Vietnam Pro", sans-serif
  background-color: $background-color
  color: $text-color


$background-color: #fdf4e7
$text-color: #2d4c43
$grey-color: #8c8c8c
$card-shadow: rgba(0, 0, 0, 0.1)

// Global Reset

  margin: 0
  padding: 0
  box-sizing: border-box


body 
  font-family: "Be Vietnam Pro", sans-serif
  background-color: $background-color
  color: $text-color


// Section Styling
.groups
  background-color: $background-color
  
.groups h2
  font-size:3rem !important


// Colors
$card-background: #ffffff
$button-background: #316b6b
$button-shadow: #2a5959
$button-text-color: #f5f5f5
$button-icon-color: #d9f05b
$text-color: #2d4c43
$secondary-text-color: #8c8c8c

// Group Card Container
.groupcard
  display: flex
  justify-content: center
  padding: 20px
  gap: 32px

  .group-card
    display: flex
    background-color: $card-background
    border-radius: 12px
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
    overflow: hidden
    max-width: 500px
    width: 100%
    margin-bottom: 16px
    margin-top: 32px

    .group-card-image
      width: 40%
      object-fit: cover
      height: auto

    .group-card-details
      display: flex
      flex-direction: column
      justify-content: space-between
      flex-grow: 1
      padding: 1rem
      

      .group-title
        font-size: 1.25rem
        font-weight: 600
        color: $text-color

      .group-time, .group-day, .group-location
        font-size: 0.95rem
        color: $secondary-text-color
        margin: 0
        font-weight: 600

      .button-container
        display: flex
        justify-content: flex-start

        .join-group-button
          display: flex
          align-items: center
          justify-content: space-between
          background-color: $button-background
          color: $button-text-color
          font-size: 1rem
          font-weight: bold
          border: none
          border-radius: 8px
          padding: 8px 16px
          box-shadow: 0px 4px 0px $button-shadow
          cursor: pointer
          transition: all 0.2s ease

          &:hover
            transform: translateY(2px)
            box-shadow: 0px 2px 0px $button-shadow

          .button-text
            margin-right: 8px

          .button-icon
            color: $button-icon-color
            font-size: 1.5rem

img.groups
  display: block
  margin-left: auto
  height:  200px

.notification h2
  font-size:3rem !important

// Notification box container
.notification-box
  display: flex
  align-items: center
  background-color: #fff
  border-radius: 20px
  padding: 30px
  width: 300px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
  margin-top: 32px

.notification
  color: $card-background

.section-3
  background-color: $main-green
  
.icon
  background-color: #121814 
  color: white
  font-size: 1.5rem
  font-weight: bold
  display: flex
  justify-content: center
  align-items: center
  width: 35px
  height: 35px
  border-radius: 50%
  margin-right: 1rem

.message
  color: #000
  font-size: 1.1rem
  line-height: 1.4
  font-weight: 500

.notification-section
  display: flex
  justify-content: center
  padding: 20px
  gap: 32px

.notification-image .groups 
  background-color: transparent
  height:  250px

.download h2
  font-size:3rem !important
  text-align: center
  

.download 
  padding: 1rem 0 

  .container-lg 
    text-align: center

    h2 
      font-size: 2.5rem
      color: $main-green
      margin-bottom: 2rem
    
  

  .apps 
    display: flex
    justify-content: center
    gap: 20px 
    margin-bottom: 2rem

    .app-store-button 
      display: flex
      align-items: center
      justify-content: center
      padding: 10px 20px
      border: 2px solid $main-green
      border-radius: 8px
      background-color: #f5f5f5
      cursor: pointer
      transition: background-color 0.3s, box-shadow 0.3s

      &:hover 
        background-color: #e0e0e0
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2)
      

      .logo 
        width: 30px
        height: auto
        margin-right: 10px
      

      .app-store-text 
        font-size: 1rem
        font-weight: bold
        color: $main-green
      
  .apps-image 
    display: flex
    justify-content: center
    margin-top: 2rem
    height: 250px !important
    width: auto

//Footer
.footer
  background-color: $main-green 
  color: white
  padding: 2rem 0

  .container
    max-width: 1200px
    margin: 0 auto
    padding: 0 1rem

  .footer-content
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    gap: 2rem

    // Footer About Section
    .footer-about
      flex: 1 1 30%
      h3
        font-size: 1.5rem
        margin-bottom: 0.5rem
        font-family:'Junigarden Serif PERSONAL USE'
      p
        font-size: 0.9rem
        line-height: 1.6

    // Footer Links
    .footer-links
      flex: 1 1 30%
      h4
        font-size: 1.2rem
        margin-bottom: 1rem
        font-family: 'Junigarden Serif PERSONAL USE'
      ul
        list-style: none
        padding: 0
        li
          margin-bottom: 0.5rem
        a
          color: white
          text-decoration: none
          transition: color 0.3s
          &:hover
            color: #a9d1c6 // Light teal hover

    // Social Media Section
    .footer-social
      flex: 1 1 30%
      h4
        font-size: 1.2rem
        margin-bottom: 1rem
        font-family: 'Junigarden Serif PERSONAL USE'
      .social-icons
        display: flex
        gap: 1rem
        a img
          width: 30px
          height: 30px
          transition: transform 0.3s
          &:hover
            transform: scale(1.2) 
            

  .footer-bottom
    text-align: center
    border-top: 1px solid #4c7b7c
    padding-top: 1rem
    margin-top: 1rem
    p
      font-size: 0.8rem
      margin: 0

// Sign In Page Styles
.sign-in-page
  display: flex
  justify-content: center
  align-items: center
  height: 100vh
  background-color: $background-color
  font-family: "Be Vietnam Pro"

  .sign-in-container
    background-color: white
    padding: 2rem
    border-radius: 10px
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
    width: 100%
    max-width: 400px
    text-align: center

    .sign-in-title
      font-size: 2rem
      color: $main-green
      margin-bottom: 1.5rem
      font-family:'Junigarden Serif PERSONAL USE'

    .sign-in-form
      display: flex
      flex-direction: column
      gap: 1.2rem

      .form-group
        text-align: left

        label
          font-weight: bold
          margin-bottom: 0.5rem
          display: block
          color: #333

        input
          width: 100%
          padding: 0.8rem
          border: 1px solid #ccc
          border-radius: 5px
          font-size: 1rem
          transition: border-color 0.3s

          &:focus
            outline: none
            border-color: $main-green

    .btn-submit
      color: $main-green
      background-color: white
      border: 2px solid $main-green 
      padding: 0.8rem
      border-radius: 5px
      font-size: 1rem
      text-decoration: none
      cursor: pointer
      transition: background-color 0.3s, color 0.3s

      &:hover
        background-color: $main-green 
        color: white 

      .form-footer
        margin-top: 1rem

    .forgot-password
      display: block
      text-decoration: none 
      color: $main-green 
      text-align: center
      font-size: 0.9rem
      font-weight: bold 
      margin-top: 1rem 
      transition: color 0.3s

      &:hover
        color: #1f3e40 
        text-decoration: underline 
.faq
  padding: 2rem

  .faq-container
    display: flex
    flex-direction: column
    gap: 1.5rem
    max-width: 1200px
    margin: 0 auto

  .faq-title
    text-align: left
    font-size: 2rem
    color: $main-green
    margin-bottom: 1.5rem
    font-family:'Junigarden Serif PERSONAL USE'

  .btn-primary
    background-color: $main-green
    border: 2px solid $main-green
    color: white
    font-size: 1rem
    padding: 0.5rem 1rem
    text-align: left
    transition: all 0.3s

    &:hover
      background-color: white
      color: $main-green

.image-faq 
  display: flex
  justify-content: center
  margin-top: 2rem
  height: 250px !important
  width: auto

@import "../node_modules/bootstrap/scss/bootstrap"
